@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

:root {
  font-size: 10px;
  --spacing: 8px;
  --spacingx2: 16px;
  --radius: 6px;
  --black: #24292f;
  --white: #ffffff;
  --grey: #57606a;
  --grey2: rgb(110, 118, 129);
  --light-grey: #d0d7de;
  --blue: #0969da;
  --white-darker: #f6f8fa;
  --purple: #6e40c9;
  --pink: #dd7df7;
  --green: #7ee787;
  --border-color: rgb(48, 54, 61);
  --red: rgb(255, 162, 139);
}

body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  background: url("../assets/bg.png");
  background-repeat: no-repeat;
  background-color: #0d1116;
  color: var(--white);
}

.container {
  padding-inline: var(--spacingx2);
  margin-inline: auto;
  max-width: 128rem;
  @include onDesktop {
    p {
      max-width: 85%;
    }
  }
  @include onMobile {
    padding-inline: spacing(1) spacing(2);
  }
}

a {
  .arrow-symbol-mktg {
    @include transformX(-2px);
  }
  .octicon-chevrow-stem {
    stroke-width: 0;
    transition: 0.2s;
  }
  &:hover {
    .arrow-symbol-mktg {
      @include transformX(0);
    }
    .octicon-chevrow-stem {
      stroke-width: 1.5;
    }
  }
}

.text-md {
  font-size: 2.4rem;
  color: rgba(#fff, 0.5);
  font-weight: 400;
  margin-bottom: spacing(3);
  span {
    color: var(--white);
  }
  @include onTablet {
    font-size: 2rem;
  }
}

.illustration {
  picture {
    display: inline-block;
    @include onMobile {
      margin-right: -0.8rem;
    }
  }
  img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    //border: 1px solid rgb(48, 54, 61);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5), 0 70px 65px rgba(0, 0, 0, 0.18),
      0 30px 30px rgba(0, 0, 0, 0.14), 0 15px 15px rgba(0, 0, 0, 0.12),
      0 10px 8px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.08),
      0 2px 2px rgba(0, 0, 0, 0.06);
  }
}

@include onMobile {
  div[style="height: 12rem;"] {
    height: 6rem !important;
  }
}
