.spaces {
  .content {
    position: relative;
    display: flex;
    gap: spacing(3);
    margin-block: 7rem 0;
    @include onTablet {
      flex-direction: column-reverse;
      margin-block: 3.5rem;
    }
    &-text {
      flex: 50%;
      max-width: 50rem;
    }
    &-img {
      margin-right: spacing(4);
      text-align: right;
      @include onTablet {
        text-align: left;
      }
      img {
        width: 100%;
        height: auto;
        border-radius: spacing(1);
        border: 1px solid rgba(#000, 0.4);

        &:nth-child(1) {
          max-width: 40rem;
          transform: translateX(25px);
        }

        &:nth-child(2) {
          max-width: 30rem;
          position: absolute;
          z-index: 1;
          bottom: 50%;
          right: spacing(-4);
        }
      }
    }
  }
  .animatedLine-line {
    background: linear-gradient(transparent, #2ea043, #56d364);
  }
}

.projectspaces {
  .content {
    @include onTablet {
      width: 100%;
    }
  }
  .content-img {
    margin-inline: auto 0;
    transform: translate(0, 0);

    img.illu-project {
      margin-top: -40%;
      max-width: 50rem;
      transform: translate(0, 25px);
      @include onTablet {
        max-width: 40rem;
      }
    }
  }
  .animatedLine-line {
    background: linear-gradient(transparent, #ea6045, #ea6045);
  }
}
