form.search {
  background-color: rgba(46, 55, 74, 0.82);
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  padding-inline: var(--spacing);
  max-width: 24rem;
  @include onTablet {
    background-color: var(--white-darker);
    border: 1px solid rgb(216, 222, 228);
    max-width: unset;
  }
  label {
    flex: 1;
  }
  input {
    background-color: transparent;
    border: unset;
    color: var(--white);
    padding-block: spacing(1);
    width: 100%;
    outline: transparent;
    @include onTablet {
      color: var(--black);
      height: 4rem;
    }
  }
  @include onDesktop {
    min-width: 24rem;
    &.onFocus {
      background-color: var(--white-darker);
      input {
        color: var(--black);
      }
      svg {
        display: none;
      }
    }
  }
}
